*{
     margin: 0;
     padding: 0;
     list-style: none;   
    }
 body{
    width: 100%;
    color: rgba(3, 72, 106, 0.958);
    text-align: center;
    min-height: 50vh;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.container{
      width: 100%; /* Por padrão, ocupa 100% da largura */
      max-width: 50%; /* Define a largura máxima como 90% */
      margin: 0 auto; /* Centraliza o elemento na tela */
       overflow-y: scroll;
       height: 90vh;
       padding: 15px 2%;
       box-shadow: 0 0 5px #069;
   }
.container::-webkit-scrollbar{
       width: 14px;
       border: 1px solid #069;
   }
.container::-webkit-scrollbar-thumb{
       background-color: #069;
       border-radius: 6px;
   }
.hr_dados1{
	border-top: medium dashed #069;
	border-bottom: medium dashed #069;
	height: 5px;
	overflow: visible;
	padding: 0;
	text-align: center;
  }
.hr_dados1::after {
	content: "MARCOS AURELIO DA SILVA lIMA";
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.4em;
	padding: 0 0.3em;
	background: #FFF;
  }
.hr_01{
	border-top: medium dashed #069;
	border-bottom: medium dashed #069;
	height: 3px;
	overflow: visible;
	padding: 0;
	text-align: center;
  }
.hr_01::after{
 content: 'Objetivo';
 display: inline;
 position: relative;
 top: -0.7em;
 font-size: 1.4em;
 padding: 0 0.3em;
 background-color: #fff;
  }
.hr_02{
	border-top: medium dashed #069;
	border-bottom: medium dashed #069;
	height: 3px;
	overflow: visible;
	padding: 0;
	text-align: center;
    }
.hr_02::after{
    content: 'Resumo';
    display: inline;
    position: relative;
    top: -0.7em;
    font-size: 1.4em;
    padding: 0 0.3em;
    background-color: #fff;
    }
.hr_03{
	border-top: medium dashed #069;
	border-bottom: medium dashed #069;
	height: 3px;
	overflow: visible;
	padding: 0;
	text-align: center;
   }
  .hr_03::after{
   content: 'Formação';
   display: inline;
   position: relative;
   top: -0.7em;
   font-size: 1.4em;
   padding: 0 0.3em;
   background-color: #fff;
  }
.hr_04{
	border-top: medium dashed #069;
	border-bottom: medium dashed #069;
	height: 3px;
	overflow: visible;
	padding: 0;
	text-align: center;
   }
.hr_04::after{
   content: 'Experiência';
   display: inline;
   position: relative;
   top: -0.7em;
   font-size: 1.4em;
   padding: 0 0.3em;
   background-color: #fff;
  }
.hr_05{
	border-top: medium dashed #069;
	border-bottom: medium dashed #069;
	height: 3px;
	overflow: visible;
	padding: 0;
	text-align: center;
  }
.hr_05::after{
  content: 'Ferramentas';
  display: inline;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.3em;
  background-color: #fff;
  }
  .hr_09{
    border-top: medium dashed #069;
    border-bottom: medium dashed #069;
    height: 3px;
    overflow: visible;
    padding: 0;
    text-align: center;
    }
  .hr_09::after{
    content: 'Certificados';
    display: inline;
    position: relative;
    top: -0.7em;
    font-size: 1.4em;
    padding: 0 0.3em;
    background-color: #fff;
    }
.hr_06{
	border-top: medium dashed #069;
	border-bottom: medium dashed #069;
	height: 3px;
	overflow: visible;
	padding: 0;
	text-align: center;
  }
.hr_06::after{
   content: 'Idiomas';
   display: inline;
   position: relative;
   top: -0.7em;
   font-size: 1.4em;
   padding: 0 0.3em;
   background-color: #fff;
  }
  .hr_07{
	border-top: medium dashed #069;
	border-bottom: medium dashed #069;
	height: 3px;
	overflow: visible;
	padding: 0;
	text-align: center;
  }
.hr_07::after{
    content: 'Linguagens';
    display: inline;
    position: relative;
    top: -0.7em;
    font-size: 1.4em;
    padding: 0 0.3em;
    background-color: #fff;
    }
.hr_08{
	border-top: medium dashed #069;
	border-bottom: medium dashed #069;
	height: 3px;
	overflow: visible;
	padding: 0;
	text-align: center;
  }
.hr_08::after{
   content: 'Redes Sociais';
   display: inline;
   position: relative;
   top: -0.7em;
   font-size: 1.4em;
   padding: 0 0.3em;
   background-color: #fff;
   }
.fab{
   cursor: pointer;
   margin: 5px;
   max-height: 100%;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
   }
.fab:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
    color: #000;
    }
    
    .hr_10 {
      border-top: medium dashed #069;
      border-bottom: medium dashed #069;
      height: 3px;
      overflow: visible;
      padding: 0;
      text-align: center;
  }
  
  .hr_10::after {
      content: 'Portfólio';
      display: inline;
      position: relative;
      top: -0.7em;
      font-size: 1.4em;
      padding: 0 0.3em;
      background-color: #fff;
  }
    @media screen and (max-width: 768px) {
      .container {
        max-width: 90%; /* Mantém a largura máxima de 90% */
      }
    }